# Node
node_modules
dist
.env
.env.*
!/.env.example

#Meilisearch
**/meili_data/

# PNPM
pnpm-debug.log
.pnpm-store/

# IDE
.vscode
.idea

# OS
.DS_Store

# Dev
.dev
tmp/

# Vitepress
docs/.vitepress/dist
docs/.vitepress/cache


# TS
**/tsconfig.tsbuildinfo
